# for loop

- if we want to execute action/ statement for numbers of time then we use this this loop
- specially it is used with sequence(string,list, tuple ,dict ,set, range)

    syntax:
        
        for iterative_variable in sequence :
                 # bosy of the loop
                 statements

In [1]:
str1 = "ZEAL college"

In [2]:
for char in str1:
    print(char)

Z
E
A
L

c
o
l
l
e
g
e

In [3]:
for i in str1:
    print(i)

Z
E
A
L

c
o
l
l
e
g
e

In [4]:
lst = [1,2,3,4,5,6]

for i in lst:
    print(i)

1
2
3
4
5
6

In [5]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for i in range(3,12):
    print(i)

3
4
5
6
7
8
9
10
11

In [6]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for i in lst:
    if i >=8:
        print(i)

8
9
10
11
12
13
14
15

In [7]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for i in lst:
    if i <=6:
        print(i*i)
    
    else:
        print(i)

1
4
9
16
25
36
7
8
9
10
11
12
13
14
15

In [8]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for i in lst:
    if i <6 :
        print(i)
    
    else:
        print(i*i)

1
2
3
4
5
36
49
64
81
100
121
144
169
196
225

## for loop using range

-for iteretive_variable in range(n):
         statement
         
  range(start_value ,end_value +1,stepsize)

In [9]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(11):
    print('good morning')

good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning

In [12]:
for i in  range(0,11):
    print('vikee')

vikee
vikee
vikee
vikee
vikee
vikee
vikee
vikee
vikee
vikee
vikee

In [13]:
for i in  range(11):
    print('iterative number',i)
    print('good morning')

iterative number 0
good morning
iterative number 1
good morning
iterative number 2
good morning
iterative number 3
good morning
iterative number 4
good morning
iterative number 5
good morning
iterative number 6
good morning
iterative number 7
good morning
iterative number 8
good morning
iterative number 9
good morning
iterative number 10
good morning

In [14]:
for i in range(2,6):
    print('iterative number',i)
    print('good morning')

iterative number 2
good morning
iterative number 3
good morning
iterative number 4
good morning
iterative number 5
good morning

In [15]:
for i in range(0,50,5):
    print('vikee',i)
    print('good morning')

vikee 0
good morning
vikee 5
good morning
vikee 10
good morning
vikee 15
good morning
vikee 20
good morning
vikee 25
good morning
vikee 30
good morning
vikee 35
good morning
vikee 40
good morning
vikee 45
good morning

In [16]:
str2= "zeal college"

for i in str2:
    if str2=="zeal college":
        print("same" )

same
same
same
same
same
same
same
same
same
same
same
same

In [17]:
a = [1,2,3,4,5,6,7,8]

for i in range(6):
    print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [19]:
for i in range(10,20,3):
    print(i)

10
13
16
19

In [20]:
for i in range(30,10,-1):
    print(i)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [21]:
# print even number

for i in range(21):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [22]:
# print odd number

for i in range(30):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [23]:
for i in range(21):
    if i%2==0:
        print(i+1)
    else:
        print(i+2)

1
3
3
5
5
7
7
9
9
11
11
13
13
15
15
17
17
19
19
21
21

In [24]:
for i in range(21):
    if i%2==0:
        print(i+1)

1
3
5
7
9
11
13
15
17
19
21

In [25]:
add = 0
for i in range(11):
    add=add+i       # (add +=1)
    print(add)

0
1
3
6
10
15
21
28
36
45
55

In [2]:
# Print sum of all even numbers from 10 to 20
sum = 0
for i in range(10,20,2):
    sum = sum + i
print(sum)

70

In [39]:
# Print sum of all odd numbers from 30 to 50

sum =0
for i in range(50,30,-2):
    if(i == 50) :
        sum = i
    else :
        sum = sum - i
        
print(sum)

-310

In [40]:
lst = [1,2,3,4,5,6,7,8,9,10]

for i in lst:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [41]:
#lst = [1,2,3,4,5,6,7,8,9,10]

for i in range(1,10,2):
    print(i**2)

1
9
25
49
81

In [42]:
# calculate the odd numbers of square

lst =[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if(i % 2 == 1) :
        print(i * i)

1
9
25
49
81

In [3]:
# find factor for range (1 to 10):

a = int(input('enter your no :'))

for i in range(1,11):
    if  a%i==0:
        print(i)

enter your no :5
1
5

In [45]:
# find the factor of given number: 

num = int(input('enter the number : '))

for i in range(1,num+1):
    if num % i==0:
        print(i)

enter the number : 100
1
2
4
5
10
20
25
50
100

# while loop

In [60]:
# print first 1 to 10 numbers

i = 1
while i <10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9

In [66]:
# print reverse number 10 to 0
i=10
while i >0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [3]:
i=20
while i<=30:
    print(i)
    i = i+1

20
21
22
23
24
25
26
27
28
29
30

In [5]:
i = 44
while i <50:
    print(i)
    i = i+1

44
45
46
47
48
49